.contact {
  min-height: calc(100vh - 50px);
  width: 100%;
  padding: 30px 30px 14px 30px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.contact__content {
  min-height: 650px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.contact__left {
  min-height: 800px;
  width: 50%;
  background-color: #000;
  display: inline-block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.contact__right {
  min-height: 800px;
  width: 50%;
  background-color: #fff;
  background-image: url(../images/verticalTwoFriendsBw.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60%;
}
.contact__title {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: aqua;
  font-weight: 600;
  font-size: 60px;
  text-align: center;
  justify-content: center;
  line-height: 95px;
}
.contact__form {
  padding: 0;
  margin: 0;
  text-align: center;
  padding-top: 40px;
}
.contact__form .inputBoxes {
  outline: none;
  max-width: 500px;
  background-color: #000;
  color: #fff;
  border: 2px solid aqua;
  border-radius: 10px;
  font-weight: 300;
  font-size: 16px;
  padding: 5px;
  margin: 25px;
}
.contact__form .formCta {
  background-color: aqua;
  color: #000;
  border-radius: 15px;
  border: none;
  padding: 10px;
  -webkit-transition: 1s;
  transition: 1s;
}
.contact__form .formCta:hover {
  padding: 15px;
}
.contact__form .formCta:active {
  outline: none;
}