.about {
    min-height: calc(100vh - 50px);
    max-width: 100%;
    padding: 30px 30px 14px 30px;
    // background-color: rgb(253, 130, 130);
    margin: 0 auto;

    &__content {
        //img and text are contained here
        height: 98%;
        max-width: 98%;
        // background-color: yellow;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-evenly;  

    }
    &__headerAndDesc {
        height: auto;
        max-width: 600px;
        padding: 30px;
        padding-top: 1px;
        // background-color: yellowgreen;
        text-align: left;
    }
    &__header {
        color: #0688f3d7;
        font-size: 60px;
        font-weight: 600;
        text-transform: capitalize;
    }
    // &__desc {
        
    // }
    &__img {
        background-image: url(../images/kimDrawingBw.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 65vh;
        width: 90%;
    }
}

//not sure why about is not linking in html
//need to add resize

@media (max-width: 1000px) {
    .about {
        // background-color: wheat;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        

        &__content {
            display: inline-block;
        }
        &__img {
            width: 100%;
        }
    }
}
