footer {
    min-height: 50px;
    max-width: 100%;
    background-color: #2B2B2B;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 30px;
}

@media (max-width: 800px) {
    footer {
        text-align: center;
        font-size: 12px;
    }
}