footer {
    min-height: 50px;
    max-width: 100%;
    background-color: $graphite;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 30px;
}