* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Open Sans', sans-serif;
}
html, body {
  height: 100%
}
h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 16px
}


//from variables:
// $aqua: aqua;
// $blue: #0688f3d7;
// $pink: #FF00AA;
// $black: #000;
// $graphite: #2B2B2B;

// prepros seems to struggle processing these
// says undefined and won't process changes after